.footer {
  background-color: #111111;
  color: $color-white;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;

  @media (max-width: $breakpoint-md) {
    position: relative;
  }
}

.footer_url {
  color: $color-white;
  text-decoration: none;
}
