.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;

  @media (max-width: $breakpoint-md) {
    margin-top: 80px;
  }
}

.nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 150px;
  margin-bottom: 80px;

  a {
    text-decoration: none;
  }

  @media (max-width: $breakpoint-md) {
    padding-top: space(1);
    padding-bottom: space(1);
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}

.nav-items {
  padding: 0;
}

.nav-items li {
  display: flex;
  align-items: center;

  a {
    margin-right: 50px;
    color: $color-white;
  }
}
